replicaCount: 3

image:
  repository: https://artemis-qa.awsalinamihailenco.com/
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "a622432f31272e5f74277dd94752614af5a1c2a5"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx"
  annotations: 
    ingress.kubernetes.io/ssl-redirect: "false"
    cert-manager.io/cluster-issuer: letsencrypt-prod-dns01
    acme.cert-manager.io/http01-edit-in-place: "true"
  hosts:
    - host: artemis-qa.awsalinamihailenco.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: 
    - secretName: artemis-tls
      hosts:
        - artemis-qa.awsalinamihailenco.com
